{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Casa </title>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/yeti/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css'  %}">
</head>
<body>
   
    {% include 'webapp/navbar.html' %}




<div class="container">

    <br>



{% block content %}






{% endblock %}



</div>



  <main role="main">

    <section class="div-2" class="jumbotron text-center">
      <div  class="container">
        <h1 class="jumbotron-heading">Our Services</h1>
        <p class="lead text-muted">
           
CasaCareConnect.com will offer a comprehensive solution where service providers will undergo a thorough background check for security, 
trust, and quality assurance. They can list their services, availability, and rates, while clients can easily search, book, and pay for 
services required. The platform will automate job arrangements, payments, and reviews, thus simplifying the transaction process for both parties.



        </p>
        <p>
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Schedule an appoinment</a>
        </p>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="https://plus.unsplash.com/premium_photo-1663013675008-bd5a7898ac4f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Card image cap">
              
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="https://plus.unsplash.com/premium_photo-1663047166207-fd717b9a0ba7?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Card image cap">
              
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="https://images.unsplash.com/photo-1621905251918-48416bd8575a?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Card image cap">
              
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="https://media.istockphoto.com/id/518586238/photo/commercial-cleaning-contractors.webp?s=2048x2048&w=is&k=20&c=sMQ1NbfFg4kaWrLxRONJxVMu2al-NKpwTXXQt6Bx8y0=" alt="Card image cap">
             
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="https://media.istockphoto.com/id/1871801744/photo/male-master-fixing-conditioner-and-checking-fan-outdoors.webp?s=2048x2048&w=is&k=20&c=BOw5GoPS6g6UuykflHyH20tda-a6cXBsc9cWFgUXEX4=" alt="Card image cap">
              
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="https://media.istockphoto.com/id/1129117534/photo/wrench-always-with-you-worker-set-up-electric-heating-boiler-at-home-bathroom.jpg?s=2048x2048&w=is&k=20&c=iFBh3MLLpX_pvji2WtzUtsEeyqmeZNmXzSDAShD_03k=" alt="Card image cap">
              
              
            </div>
          </div>

          
          
        </div>
      </div>
    </div>

  </main>

  

{% include 'webapp/footer.html' %}

<script src="{% static 'js/app.js' %}"> </script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

</body>






</html>

